<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>校社联后台登录</title>
	<link rel="stylesheet" href="./view/login/css/login.css">
</head>
<body>
	<header>
		<img src="./view/login/img/logo.png" alt="" class="logo rlt">
		<h1 id="header" class="rlt">校社联·信息管理系统</h1>
	</header>
	<main>
		<div class="formContainer rlt">
			<span class="login rlt">登录</span><br>
			<span  class="tips rlt" id="tips"></span>
			<form action=""  class="rlt" method="post">
				<div class="settled">
				<input type="text" id="user" class="rlt" placeholder="账号|用户名" name="userName" autocomplete="off">
				<input type="password" id="password" class="rlt" placeholder="密码" name="password">
				<div class="row rlt" autocomplete="off">
					<input type="checkbox" id="checkbox">
					<span class="remember rlt">记住账号</span>
					<a href="" class="forget">忘记密码</a>
				</div>
				<input type="button" id="button" class="rlt" value="登录">
				</div>
			</form>
		</div>
	</main>
	<footer>
		<p id="footer" class="rlt">&copy;2016-广金校社联</p>
	</footer>
	<script src="./view/login/js/login.js"></script>
</body>
</html>
