/*
 *先把整体布局的样式写出来，再调整登录框的样式
*/

.rlt{/*这个属性要经常用，直接引用类以减少冗余代码*/
	position: relative;
}

/*整体页面初始化*/

*{
	margin: 0;
	padding: 0;
}

html{
	height: 1080px;
	width: 1920px;
	font-size: 62.5%;
	font-family: Microsoft Yahei;
}

/*页眉部分*/

header{
	height: 100px;
	background-color: #fff;
}

#header{
	top: 20%;
	padding-left: 5%;
	font-size: 4em;
	font-weight: lighter;
	color: rgba(102,102,102,1);
}

/*主体部分*/

main{
	height: 830px;
	background-image: url(../img/background.png);
}

.container{
	left: 1100px;
	top: 140px;
	height: 550px;
	width: 450px;
	padding-left: 50px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
}

/*页脚部分*/

footer{
	height: 150px;
	text-align: center;
	background-color: rgba(170,170,170,1);
}

#footer{
	top: 40%;
	font-size: 2em;
}

/*
 *以上为整体布局的样式
*/

.login{
	top: 45px;
	font-size: 3em;
	color: rgba(51,51,51,1);
}

form{
	top: 65px;
}

form:before{/*此处留空，用来警告“请输入账号密码”*/
	content: attr(data-attr) "foo";
	font-size: 1.8em;
	color: #f33;
}

[type="text"]{/*不用id了，直接用属性选择器，把id的作用留给js*/
	top: 15px;
	width: 274px;
	height: 70px;
	padding-left: 76px;
	font-size: 5em;
	background: url(../img/账号.png) no-repeat left center;
	border: solid 1px;
}

[type="password"]{/*此处不适用top，因为计算top是从上个输入框的中部开始计算的*/
	margin-top: 40px;
	width: 274px;
	height: 70px;
	padding-left: 76px;
	font-size: 5em;
	background: url(../img/密码.png)  no-repeat left center;
	border: solid 1px;
}

.row{
	top: 35px;
}

[type="checkbox"]{
	height: 25px;
	width: 25px;
	border: 1px solid #000;
}

.remember{
	top: -4px;
	padding-left: 20px;
	font-size: 2em;
}

.forget{
	float: right;
	padding-right: 95px;
	font-size: 2em;
}

.forget:link,
.forget:visited{
	color: rgba(0,51,255,1);
	text-decoration: none;
}

[type="submit"]{
	top: 80px;
	width: 200px;
	height: 50px;
	background-color: rgba(50,177,108,1);
	color: white;
	font-size: 2em;
	border-radius: 10px;
	border: transparent;
	font-family: Microsoft Yahei;
}

[type="submit"]:hover{
	background-color: rgba(0,113,48,1);
}

[type="submit"]:active{
	color: rgba(102,102,102,1);
	background-color: #fff;
}
