<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>校社联后台登录</title>
	<link rel="stylesheet" href="./view/login/css/frame.css">
	<link rel="stylesheet" href="./view/login/css/login.css">
</head>
<body>
	<header class="frameHeader">
		<img src="./view/login/img/logo.png" alt="校社联徽章" class="logo rlt">
		<h1 class="headerTitle rlt">校社联·信息管理系统</h1>
	</header>
	<section class="frameSection">
		<div class="formContainer rlt">
			<span class="login rlt">登录</span><br>
			<span  class="tips rlt" id="tips">请输入账号和密码</span>
			<form action=""  class="rlt" method="post">
				<div class="settled">
					<input type="text" id="user" class="rlt" placeholder="账号|用户名" name="userName" autocomplete="off">
					<input type="password" id="password" class="rlt" placeholder="密码" name="password">
					<div class="row rlt" autocomplete="off">
						<input type="checkbox" id="checkbox">
						<span class="remember rlt">记住账号</span>
						<a href="./view/forgetPassword/sendEMail.html" class="forget">忘记密码</a>
					</div>
					<input type="button" id="button" class="rlt" value="登录">
				</div>
			</form>
		</div>
	</section>
	<footer class="frameFooter">
		<p class="copyright rlt">&copy;2016-广金校社联</p>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="./view/login/js/login.js"></script>
</body>
</html>
