@charset "utf-8";

.whiteBackGround {
  width: 600px;
  height: 350px;
  margin: 0 auto;
  top: 130px;
  background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}

.container {
  padding: 0 150px;
}

.findPassword {
  top: 25px;
  font-size: 2em;
  color: rgba(51, 51, 51, 1);
}

.tips {
  top: 40px;
	font-size: 1.5em;
	color: #f00;
}

form {
  top: 50px;
}

[type="text"] {/*不用id了，直接用属性选择器，把id的作用留给js*/
	top: 15px;
	width: 224px;
	height: 60px;
	padding-left: 76px;
	font-size: 1.8em;
	background: url(../img/账号.png) no-repeat left center;
	border: solid 2px #858b98;
  margin: 0 auto;
  margin-bottom: 40px;
}

[type="button"] {
	top: 20px;
	width: 300px;
	height: 50px;
	background-color: rgba(50,177,108,1);
	color: white;
	font-size: 2em;
	border-radius: 10px;
	border: transparent;
	font-family: Microsoft Yahei;
}

[type="button"]:hover{
	background-color: rgba(0,113,48,1);
}

[type="button"]:active{
	color: rgba(102,102,102,1);
	background-color: #fff;
}

[type="password"]{/*此处不适用top，因为计算top是从上个输入框的中部开始计算的*/
	margin-top: 10px;
	width: 224px;
	height: 60px;
	padding-left: 76px;
	font-size: 1.8em;
	background: url(../img/密码.png)  no-repeat left center;
	border: solid 2px #858b98;
}

.bold {
  text-align: center;
  font-size: 2.5em;
  color: rgba(51, 51, 51, 1);
  padding-top: 80px;
  display: block;
}

.return {
  text-align: center;
  font-size: 20px;
  color: rgba(51, 51, 51, 1);
  display: block;
  margin: 20px 0;
}

#red {
  color: rgba(255, 0, 0, 1);
}
