<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>验证码</title>
  <!-- <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
        <script src="js/jquery.min.js"></script>
  <script src="./js/login.js"></script>
<link type="text/css"rel="stylesheet"href="css/commen.css"/>
</head>
<body>
<main>
<div class="container">
<div class="loginBox rlt">
<form action=""class="rlt">
<div class="settled">
<!-- 此处插入验证码 -->
<img src="code.php" id="changeVerification"/>
<div class="lo_txt"> 
</div>
<div class="lo_txt"> <img class="inI
mg"src="img/验证码.png"/>
<input type="text"class="pwd" id="loVerification" placeholder="验证码">
<img class="clearImg" id="clearVerification" src="img/清除logo.png"/>
</div>
<input type="button"id="button" class="rlt"value="确认">
</div>
</form>
</div>
</div>
</main>
</body>
</html>