<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <!-- <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
  <script src="./view/login/js/jquery.min.js"></script>
  <script src="./view/login/js/login.js"></script>
  <link type="text/css" rel="stylesheet" href="./view/login/css/commen.css" />
</head>

<body>
  <main>
    <div class="container">
      <div class="loginBox rlt">
        <form action="" class="rlt">
          <div class="settled">
            <div class="lo_txt"> <img class="inImg" src="./view/login/img/账号.png" />
              <input type="text" class="us_name" id="user" name="loUsername" placeholder="账号\用户名">
              <img class="accountImg" src="./view/login/img/fold.svg" />
              <img class="clearImg" id="clearName" src="./view/login/img/清除logo.png" />
            </div>
            <div class="lo_txt"> <img class="inImg" src="./view/login/img/密码.png" />
              <input type="password" class="pwd" id="password" name="pwd" placeholder="密码">
              <img class="functionImg" id="showPwd" src="./view/login/img/闭眼logo.png" />
              <img class="clearImg" id="clearPwd" src="./view/login/img/清除logo.png" />
            </div>
            <input type="button" id="button" class="rlt" value="登录">
            <div class="row rlt">
              <a href="" class="forget">忘记密码</a>
              <a href="" class="register">没有账号?立即注册</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>

</html>
