<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>校社联主页</title>
  <link rel="stylesheet" style="text/css" href="./view/user/css/index.css">
</head>
<body>
  <div class="container">
    <div class="today">
      <h1 class="period">今天</h1>
      <li class="dynamicList">
      <img src="./view/user/img/动态公告logo.png" class="dynamicImg" >
      <div class="content">
        <h1 class="title">校社联管理系统建好啦</h1>
        <h4 class="text">经过整整一年的努力，校社联管理系…</h4>
      </div>
      <div class="infor">
      <div class="time">23:16</div>
      <div class="sender">By 校社联</div>
      </div>
      </li>
      <hr/>
      <li class="dynamicList">
      <img src="./view/user/img/动态任务logo.png" class="dynamicImg" >
      <div class="content">
        <h1 class="title">请与本周内完成注册…</h1>
        <h4 class="text">经过整整一年的努力，校社联管理系…</h4>
      </div>
      <div class="infor">
      <div class="time">23:16</div>
      <div class="sender">By 校社联</div>
      </div>
      </li>
    </div>
    <div class="three">
      <h1 class="period">近三天</h1>
      <li class="dynamicList"></li>
      <hr/>
      <li class="dynamicList"></li>
    </div>
    <div class="week">
      <h1 class="period">近一周</h1>
      <li class="dynamicList"></li>
      <hr/>
      <li class="dynamicList"></li>
    </div>
  </div>
  <footer>
    <div class="option">
      <img src="./view/user/img/动态logo.png" class="blo">
      <p class="des">动态</p>
      <div class="token"></div>
    </div>
     <div class="option">
       <img src="./view/user/img/公告logo.png" class="blo">
       <p class="des">公告</p>
       <div class="untoken"></div>
     </div>
     <div class="option">
       <img src="./view/user/img/任务logo.png" class="blo">
       <p class="des">任务</p>
       <div class="untoken"></div>
     </div>
     <div class="option">
       <img src="./view/user/img/社团logo.png" class="blo">
       <p class="des">社团</p>
       <div class="untoken"></div>
     </div>
     <div class="option">
       <img src="./view/user/img/更多logo.png" class="blo">
       <p class="des">更多</p>
       <div class="untoken"></div>
     </div> 
  </footer>
</body>
</html>