
.rlt{
  position: relative;
}
*{
  padding: 0;
  margin: 0
  ;
}
main {
    /* height: 80%; */
    /* width: 1080px; */
    width: 100%;
    height: 1701px;
    margin: 0 0 4px 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.container {
  width:90%;
  margin: 0 auto;
}
.loginBox {
  width: 100%;
  height: 800px;
  float: right;
  top: 560px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.settled{
  width: 80%;
  margin: 115px auto;
}
.inImg {
  width: 158px;
  height: 158px;
}
.accountImg{
  width:75px;
  float: right;
  margin: 50px 30px 0 0;
}
.functionImg{
  width:75px;
  float: right;
  margin: 70px 30px 0 0;
}
.clearImg{
  height:50px;
  float: right;
  margin-top: 55px;
  margin-right: 30px;
}
.lo_txt input {
  height: 158px;
  color: rgb(153, 153, 153);
  margin-left: 25px;
  font-size: 2.5em;
  line-height: 1;
  position: absolute;
  background: none;
  border: none;
  outline: none;
}
.lo_txt {
  margin-bottom: 40px;
  height: 158px;
  border: solid 2px rgb(133, 139, 152);
}

[type="button"]{
  width: 100%;
  height: 120px;
  background-color: rgba(50,177,108,1);
  color: white;
  font-size: 2em;
  border-radius: 10px;
  border: transparent;
  font-family: Microsoft Yahei;
}

[type="button"]:active{
  background-color: rgba(0,113,48,1);
}

.row{
  top: 30px;
}

.forget{
  float: left;
  padding-right: 55px;
  font-size: 2em;
  color: rgba(0,51,255,1);
}

a:link,
a:visited{
  text-decoration: none;
}
.register{
  top: -4px;
  padding-left: 20px;
  font-size: 2em;
  color: rgba(102,102,102,1);
  float: right;
}
