<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<header>
		<h1 id="header" class="rlt">校社联·信息管理系统</h1>
	</header>
	<main>
		<div class="container rlt">
			<span class="login rlt">登录</span>
			<form action="" class="rlt" method="post">
				<div class="settled">
				<input type="text" id="user" class="rlt"  name="userName">
				<input type="password" id="password" class="rlt"  name="password">
				<div class="row rlt">
					<input type="checkbox" id="checkbox">
					<span class="remember rlt">记住账号</span>
					<a href="" class="forget">忘记密码</a>
				</div>
				<input type="submit" id="submit" class="rlt" value="登录">
				</div>
			</form>
		</div>
	</main>
	<footer>
		<p id="footer" class="rlt">&copy;2016-广金校社联</p>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="./js/login.js"></script>
</body>
</html>
